body {
  font-family: "Hepta Slab", serif;
  margin: 0;
  padding: 0%;
  /* background-image: url(/imgs/utahmountains.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black; */
  

}

html {
  max-width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


.downarrow {
  margin-top: 0;
font-size: 60px;
text-decoration: none;
color: black;
}



.nav {
  
  padding: 0;
  background: black;
  box-shadow: 1px 1px 10px black;
justify-content: center;
align-items: center;
  position: fixed;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
  z-index: 99999;
}

.nav a {
  text-decoration: none;
margin: 0 40px;
  font-size: 1.1rem;
  color: white;
 
  padding: 5px 20px;
border-bottom: 1px solid black;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.nav a:hover {
  color: rgb(30, 30, 32);
  border-bottom: 1px solid rgb(113, 191, 255);
  
  
  color: rgb(113, 191, 255);
  
}

.socials {
  /* border: solid blue; */
  width: fit-content;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-top: 130px;
  margin-bottom: 50px;
  color: white;
}

.hover-social-text {
  opacity: 0;
  position:absolute;
  top:0;
left:0;
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
-ms-transition: all 400ms ease-out;
transition: all 400ms ease-out;
text-align:center;
}

.individual_social .hover-social-text:hover { opacity:1; }      
.individual_social .hover-social-text .hover-text {
height:0;
opacity:1;
transition-delay: 0s;
transition-duration: 0.4s;
}

.individual_social .hover-social-text:hover .hover-text {
  opacity:1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
  }

.resume_link {
  font-weight: bold;
  color: white;
}

.call-to-action1 {
  /* border: solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-action1 p {
  /* border: solid green; */
  margin-bottom: 0px;
}

.call-to-click-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 100%;
  z-index: 1;
  margin-top: 40px;
 
}

.call-to-click-links a {
  /* border: solid green; */

  margin: 30px 10px;
}

.links-in-call-to-click a {
  color: white;
  background: rgb(10, 103, 179);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid rgb(10, 103, 179);
  box-shadow: 1px 1px 3px grey;
  transition: 0.3s;
}

.links-in-call-to-click a:hover {
  background: white;
  color: rgb(10, 103, 179);
}

.individual_social {
  margin: 0 30px;
  transition: 0.4s;
  position: relative;

}

.individual_social:hover {
  
}

.hover-text {
  position: absolute;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
text-align: center;
 
  color: white;
  visibility: hidden;
  opacity: 0;
border-radius: 5px;
 
  transition: 0.3s;
}

.individual_social a {
  color: white;
  text-decoration: none;
}

.individual_social:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.mailIMG {
  padding: -30px;
}

.title_link {
  color: black;
  transition: 0.4s;
}

.title_link h2 {
  margin: 0px;
}

.title_link:hover {
  color: rgb(30, 154, 255);
}

.landing-area {
  box-shadow: 1px 1px 15px black;
  background-image: url(/imgs/cameralense.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px black;
}

.header {
  width: fit-content;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
 
  
}

.name {
  text-decoration: none;
text-shadow: 1px 1px black;
  transition: 0.4s;
height: fit-content;
  /* border: solid red; */
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
  color:white;
}

.header a:hover {
  text-decoration: none;
  color: rgb(30, 154, 255);
}



.header p {
  font-size: 30px;
  margin-top: -50px;
}

.callToAction {
  width: fit-content;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  text-decoration: none;
  
}

.callToAction a {
  text-decoration: none;
}

.downarrow {
  text-decoration: none;
}

.downarrow:hover {
  border: none;
  transition: 0.3s;
  width: fit-content;
  border-radius: 100px;
  
}

.downarrow:hover {
  border: none;
  margin-top: 20px;
  
}



.collegeValue {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  line-height: 2;
}

.collegeValue img {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
}

.callToAction h2 {
  font-size: 40px;
  color: white;
}

.collegeValue h2 {
  font-size: 30px;
}

.collegeValue p {
  width: 35%;
}

.context {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
  align-content: center;
}

.links {
  width: 40%;
  margin-top: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
}



.collegeValue h4 {
  font-size: 25px;
  margin-bottom: 0px;
}

.paren {
  font-size: 16px;
  margin-top: 0px;
}

/* guidr ----------------------------------------- */

.guidr {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  line-height: 2;
}

.guidr h4 {
  font-size: 25px;
  margin-bottom: 0px;
}

.guidr img {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
}

.guidr h2 {
  font-size: 30px;
}

.guidr p {
  width: 35%;
}

/*  howto ----------------------------------------- */

.howto {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  line-height: 2;
}

.howto h4 {
  font-size: 25px;
  margin-bottom: 0px;
}

.howto img {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
}

.howto h2 {
  font-size: 30px;
}

.howto p {
  width: 35%;
}

/* skills ------------------------------------ */

.skills {
  width: fit-content;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  line-height: 1cm;
 
 

}

.skill-list {
  /* border: 1px solid red; */
  width: 80%;
  padding: 50px;
  box-shadow: 1px 1px 5px grey;
  border-radius: 5px;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
}

.skills h3 {
  font-size: 30px;
  margin-top: 80px;
}

.skills p {
  margin-top: -10px;
}

/* bio ---------------------------------- */

.email {
  padding: 10px;
  color: rgb(30, 154, 255);
  border-radius: 5px;
  transition: .3s;
  text-decoration: none;
}

.email:hover {
  background:rgb(30, 154, 255);
  color: white;
  text-decoration: none;
}

.bio h3 {
  font-size: 30px;
}

.bio {
 border-top: 2px solid lightgrey;
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 1cm;
  
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* outro -------------- */

.outro {
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 1cm;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* dropdown -------------- */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_button {
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 3px;
  background: rgb(241, 241, 241);
  transition: 0.4s;
  margin: 20px;
}

.dropdown_button:hover {
  cursor: pointer;
  background: rgb(209, 209, 209);
}


#mysterydog-content p {
  font-size: 16px;
  background: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 10px;
}

#mysterydog-content {
  transition: 0.4s;
  padding: 20px;
}

#owavy-content p {
  font-size: 16px;
  background: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 10px;
}

#owavy-content {
  transition: 0.4s;
  padding: 20px;
}

#ebcg-content p {
  font-size: 16px;
  background: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 10px;
}

#ebcg-content {
  transition: 0.4s;
  padding: 20px;
}

#shopbti-content p {
  font-size: 16px;
  background: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 10px;
}

#shopbti-content {
  transition: 0.4s;
  padding: 20px;
}

#drop-content p {
  font-size: 16px;
  background: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 10px;
}

#drop-content {
  transition: 0.4s;
  padding: 20px;
}

.dropdown_arrow {
  border: none;
}

#howto-content p {
  font-size: 16px;
  background: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 10px;
}

#howto-content {
  transition: 0.4s;
  padding: 20px;
}

#guidr-content p {
  font-size: 16px;
  background: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 10px;
}

#guidr-content {
  transition: 0.4s;
  padding: 20px;
}

/* footer  ///////////////////////////*/

.footer {
  margin-top: 50px;
  background: rgb(238, 238, 238);
  height: fit-content;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px grey;
  padding: 10px 0;
}

.footer-socials-area {
  display: flex;
  width: fit-content;
}

.footer-social {
  background: rgb(238, 238, 238);
  padding: 10px;
  transition: .3s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social:hover {
  background: rgb(184, 183, 183);
}

/* ///////////////////////////////// */

@media screen and (max-width: 1180px) {
  body {
    max-width: 100%;
  }
}

@media screen and (max-width: 799px) {
  body {
    max-width: 100%;
  }
  .callToAction h2 {
    width: 60%;

    margin: 30px;
  }
}

@media screen and (max-width: 756px) {
  body {
    max-width: 100%;
  }
}

@media screen and (max-width: 730px) {
  body {
    max-width: 100%;
  }
  .mobileIMG {
    width: 600px;
    border: solid red;
  }
}

@media screen and (max-width: 665px) {
  body {
    max-width: 100%;
  }
  .header h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 630px) {
  body {
    max-width: 100%;
  }
  .mobileIMG {
    width: 500px;
  }
}

@media screen and (max-width: 580px) {
  body {
    max-width: 100%;
  }
  .header h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 580px) {
  body {
    max-width: 100%;
  }
  .mobileIMG {
    width: 400px;
  }
  .socials {
    width: 30%;
  }
  .individual_social {
    margin: 12px;
  }
  .socialIMG {
    width: 80px;
  }
  .header h1 {
    font-size: 30px;
  }
  .mobileIMG {
    width: 300px;
  }
  .title_link h2 {
    font-size: 15px;
  }
  .bio {
    width: 70%;
  }

  .outro {
    width: 70%;
  }
  .header p {
    font-size: 18px;
  }
  #drop-content p {
    font-size: 16px;
    background: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
  }

  #drop-content {
    transition: 0.4s;
    padding: 20px;
    width: 90%;
  }

  #howto-content p {
    font-size: 16px;
    background: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
  }

  #howto-content {
    transition: 0.4s;
    padding: 20px;
    width: 90%;
  }

  #guidr-content p {
    font-size: 16px;
    background: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
  }

  #guidr-content {
    transition: 0.4s;
    padding: 20px;
    width: 90%;
  }
}
